img{
  z-index: 999;
  object-fit:contain;
  height: auto;
  max-width: 30%;
}

body {
  background-color: #27323b;
  font-family: Roboto, sans-serif;
}
.header, div {
  display: flex;
  flex-direction: row;
  margin: 3vh;
  margin-top: 2vh;
}

h1 {
    color: whitesmoke;
    max-width: auto;
    font-weight: bold;
}

.header {
  z-index: 90;
  top: 0;
  display: flex;
  overflow: hidden;
  background-color: #f1f1f1;
  margin: 0;
  padding-left: 1vh;
  padding-right: 1vh;
  border-radius: 10px;
  position: fixed;
  width: 100%;
}
.header a {
  padding: 2vh;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 40px;
  font-weight: 700;
  color: #4283b9;
}
.header-right {
  margin: auto;
  float: none;
  font-weight: 700;
  font-size: 30px;
  color: #000;
}
.active {
  margin-top: auto;
  margin-bottom: auto;
  color: #000;
  float: center;

}
fieldset {
    margin: 2vh;
    font-size: xx-large;
  border-radius: 0.2em;
  color: #fff;

}
.amount {
  font-size: larger;
  margin-left: 0.5em;
  padding-right: 0.25em;
}
input[type="radio"] {
  transform: scale(4);
}
input[type="number"] {
  font-size: xx-large;
  width: 14vh;
  height: 2.5vw;
  vertical-align:middle;
}
.button {
  position: fixed;
  height: 3em;
  width: 12em;
  right: 5%;
  top: 3.8%;
  font-size: 25px;
  z-index: 999;
  background-color: #4283b9;
  color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}
.button:active,
.button:hover {
  background-color: #4c6477;
  background-position: 0 0;
  color: #fff;
}
.button:active {
  opacity: 0.5;
}
.button:click {
  background-color: #4c6477;
}
.AddButton {
  margin-left: 2vh;
  height: 2em;
  width: 6.5em;
  right: 5%;
  top: 3.8%;
  font-size: 32px;
  z-index: 999;
  background-color: #4283b9;
  color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}
.AddButton:active,
.AddButton:hover {
  background-color: #4c6477;
  background-position: 0 0;
  color: #fff;
}
.AddButton:active {
  opacity: 0.5;
}
.AddButton:click {
  background-color: #4c6477;
}

p {
  color: #4283b9;
  font-size: 40px;
  font-weight: 700;
  margin: 24px;
}
.content {
  margin-top: 17vh;
  border-color: #27323b;
  border-style: solid;
}
.instock {
  margin-left: 1em;
  font-size: larger;
}

.radioLabel {
    padding: 1em;
    vertical-align:middle;
}

/*fieldset .invis {
  visibility: hidden;
  max-height: 0; 
} */

.navigationContainer{
  z-index: 999;
  display:flex;
  position: fixed;
  top:1.2%;
  right: 25%;
}

